h1
  a(href='/') Veritas Vocations

if typeof errors != "undefined" && errors
  .errors
    each error in errors
      .alert.alert-error
        strong= error

  
.row
  .span12
    p.ad-size Sorry about that! We've deleted your email and request.