.page-header.jumbotron
  h1 Veritas Vocations
    small Your connection to a better interview

  p
    :markdown
      Instead of **dreading** your next interview, use Veritas
      Vocations to connect with a fellow student on Harvard's campus and
      **ace** it instead. The process is simple, enter your:
        
         * name
         * @college email address
         * house
         * year
           
      to be matched with someone else
      looking to practice **case**, **financial services**, and **behavioral
      interviews**. Once you’ve been paired, you’ll both get an email, and
      you’re off!

  a(href='/signup').btn.large.pull-right Sign me up!

.divider

.row
  .span4.blurb
    h2 Connect with people
    p.
      Interviewers always suggest practicing aloud before stepping into
      the interview. This makes it easy to find other people who are
      interested in doing the same. We have the people, you just have to
      do the practice.
    
  .span4.blurb
    h2 Feedback without the suit
    p.
      Interviews can often feel stuffy and overwhelming. Getting
      feedback in a more relaxed atmosphere can make you more
      confident for the big day, and help you troubleshoot areas to
      improve upon.

  .span4.blurb
    h2 It’s easy!
    p.
      All you need is two minutes, whether you’re waiting for the shuttle
      or for the line in Lamont cafe to die down. In just a few clicks,
      you’re on your way to being better prepared for the interview season
      ahead.