h1
  a(href='/') Veritas Vocations

if typeof errors != "undefined" && errors
  .errors
    each error in errors
      .alert.alert-error
        strong= error
  
.row#signup-area
  .span6
    p.ad-size Almost there, we just need a bit of information before we can match you up!
    p.ad-size We hate spam too, so we promise not to misuse your information.
  .span6
    form(action='/signup', method='POST').form-horizontal
      fieldset.control-group
        label(for='name').control-label Name
        .controls
          input(type='text', name='name', value=form.name).xlarge#name
      fieldset.control-group
        label(for='email').control-label Email
        .controls
          input(type='text', name='email', value=form.email).xlarge#email
          p.help-block This needs to be your @college email
      fieldset.control-group
        label(for='house').control-label House
        .controls
          select(name='house')#house
            option River
            option Quad
        .controls
          label.checkbox
            input(type='checkbox', name='near_only', value='true')
            p Only pair me with people near me
      fieldset.control-group
        label(for='year').control-label Year
        .controls
          select(name='year').xlarge#year
            option Freshman
            option Sophomore
            option Junior
            option Senior

      fieldset.control-group
        label(for='areas').control-label Areas
        .controls
          label.checkbox
            input(type='checkbox', name='areas[]', value='Consulting')
            p Consulting
        .controls
          label.checkbox
            input(type='checkbox', name='areas[]', value='Sales and Trading')
            p Sales and Trading
        .controls
          label.checkbox
            input(type='checkbox', name='areas[]', value='Investment Banking')
            p Investment Banking
        .controls
          label.checkbox
            input(type='checkbox', name='areas[]', value='Behavioral')
            p Behavioral
    
      input(type='submit', value='Sign up!').btn.large#signup-button
