h1
  a(href='/') Veritas Vocations

.row
  .span12
    p.ad-size It looks like you've already been matched. Check your email for details.
    p.ad-size  If you would like to be matched again, please wait 24 hours.